doctype html
div.flex.flex-col.h-full.w-full.items-center.justify-center
  img.flex(src="assets/images/logo.png" class="w-1/5")
  span(class="mt-5 text-base sm:text-lg md:text-3xl lg:text-5xl uppercase") THIRD CIRCLE

  //pre {{ data | json }}
